.wrapper {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
}

.main {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar {
    width: 270px;
}

.card {
    position: relative;
    width: 270px;
    background-color: #fff;
    margin-bottom: 30px;
    &__badges{
        position: absolute;
        display: flex;
        top: 10px;
        left: 5px;
    }
    &__badge {
        margin-left: 10px;
        padding: 0 10px;
        background: #FFCF26;
        border-radius: 4px;
        height: 22px;
        font-size: 14px;
        line-height: 22px;
        &--credit {
            background: #11BE75;
            color: #fff;
        }
    }

    &__content {
        padding: 15px 15px 20px;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.16;
        margin-bottom: 10px;
    }
    &__term {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    &__location {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        &::before {
            content: "";
            margin-right: 10px;
            display: inline-block;
            vertical-align: baseline;

            width: 16px;
            height: 11px;
            background: url('../../icons/metro.svg') no-repeat center;
        }
    }
    &__address {
        font-size: 14px;
        line-height: 16px;
        color: #777777;
    }
}